<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thêm thành phố mới</title>
</head>
<body>
<center>
    <h1>Thêm thành phố mới</h1>
    <a href="/city/list">Xem danh sách thành phố</a>
    <form action="/city/create" method="post">
        <table border="1" cellpadding="10" th:object="${city}">
            <tr>
                <input type="hidden" th:field="*{id}">
                <td>Tên</td>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <td>Quốc gia</td>
                <td>
                    <select th:field="*{country}">
                        <option th:each="country : ${countries}" th:value="${country.getId()}"
                                th:text="${country.getName()}"></option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></td>
            </tr>
            <tr>
                <td>Diện tích</td>
                <td>
                    <input type="number" th:field="*{totalArea}">
                </td>
                <td th:if="${#fields.hasErrors('totalArea')}" th:errors="*{totalArea}"></td>
            </tr>
            <tr>
                <td>Dân số</td>
                <td>
                    <input type="number" th:field="*{population}">
                </td>
                <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></td>
            </tr>
            <tr>
                <td>GDP</td>
                <td>
                    <input type="number" th:field="*{gdp}">
                </td>
                <td th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}"></td>
            </tr>
            <tr>
                <td>Giới thiệu</td>
                <td>
                    <textarea th:field="*{description}"></textarea>
                </td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Nhập thành phố">
                </td>
            </tr>
        </table>
    </form>
    <a href="/city/list">Thoát</a>
</center>
</body>
</html>